# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
lst=[1,2,3,4,3]
lst.append(24)
lst

[1, 2, 3, 4, 3, 24]

2. Make a list of fruits and insert a fruit at the second position.

In [4]:
lst = ["mango","apple","gua","orange"]
lst.append("watermelon")
lst

['mango', 'apple', 'gua', 'orange', 'watermelon']

3. Create a list of names and remove one name from the list.

In [5]:
lst = ["amey","rahul","akkshhey","prathmesh"]
lst.remove("prathmesh")
lst

['amey', 'rahul', 'akkshhey']

4. Create a list of 4 items and change the value at index 2.

In [9]:
lst = ["mango","apple","gua","orange"]
lst[2]="banana"
lst

['mango', 'apple', 'banana', 'orange']

5. Make a list of numbers and print only the first three elements.

In [15]:
lst = [1,2,3,4,5]
lst[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [18]:
colors = ["blue","red","pink","purple"]
colors.index("pink")

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [19]:
num = [1,2,3,4,5,6,5,8,9,10]
num.count(5)

2

8. Make a list of 6 items and delete the item at index 3.

In [23]:
item = ["tv","mob","books","pen","laptop","glasses"]
item.remove("books")
item

['tv', 'mob', 'pen', 'laptop', 'glasses']

9. Create a list of animals and add three more animals using extend().

In [28]:
animals = ["lion","tiger","dog"]
animals.append("elephant")
animals.append("buffallow")
animals.append("cow")
animals

['lion', 'tiger', 'dog', 'elephant', 'buffallow', 'cow']

10. Create a list and remove the last item using pop().

In [30]:
item = ["tv","mob","books","pen","laptop","glasses"]
item.pop()
item

['tv', 'mob', 'books', 'pen', 'laptop']

11. Create a list of prices and sort them in ascending order.

In [32]:
prices = [10,60,40,20,30,70]
prices.sort()
prices

[10, 20, 30, 40, 60, 70]

12. Make a list of countries and reverse the order of the list.

In [34]:
countries = ["India","USA","Rassia","Itly"]
countries.reverse()
countries

['Itly', 'Rassia', 'USA', 'India']

13. Create a list of words and check if “apple” is in the list.

In [37]:
fruits = ["mango","apple","gua","orange"]
"apple" in fruits

True

14. Create a list of numbers and print the largest and smallest number.

In [42]:
num = [1,2,3,4,5,6]
print(max(num))
print(min(num))

6
1

15. Make a list of 5 items and print each item using a loop.

In [49]:
items = ["tv","mob","books","pen","laptop"]
for i in items:
    print(i)

tv
mob
books
pen
laptop

16. Create two lists and combine them into one list.

In [52]:
items = ["tv","mob","books","pen","laptop"]
fruits = ["mango","apple","gua","orange"]

items.extend(fruits)
items

['tv', 'mob', 'books', 'pen', 'laptop', 'mango', 'apple', 'gua', 'orange']

17. Make a list and replace the last item with a new value.

In [55]:
items = ["tv","mob","books","pen","laptop"]
items[-1]="me"
items

['tv', 'mob', 'books', 'pen', 'me']

18. Create a list of numbers and print only the even numbers.

In [64]:
num = [1,2,3,4,5,6]
for i in num:
    if i%2==0:
        print(i)

2
4
6

19. Create a list and clear all items from the list.

In [66]:
items = ["tv","mob","books","pen","laptop"]
items.clear()
items

[]

20. Create a list of 5 values and copy it into another list.

In [70]:
items = ["tv","mob","books","pen","laptop"]
num = [1,2,3,4,5,6]
items.extend(num)
items

['tv', 'mob', 'books', 'pen', 'laptop', 1, 2, 3, 4, 5, 6]