# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [2]:
# Write your answer here
NUM=[[1,2,3], [4,5], [6,7,8,9]]
for i in NUM:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [6]:
# Write your answer here
example=[[10,20],[30],[5,7,8]]
sum_num=0
for item in example:
    for i in item:
        sum_num+=i
print(sum_num)

80

## **3. Count how many even numbers are present in a nested list.**

In [7]:
# Write your answer here
example=[[10,20],[30],[5,7,8]]
count=0
for i in example:
    for j in i:
        if j%2==0:
            count+=1
print(count)

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [ ]:
# Write your answer here
words=[["hello","world"],["python"]]
for i in words:
    for j in i:
         print(j.capitalize())

Hello
World
Python

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [16]:
# Write your answer here
marks=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
total=0
for i in marks:
    for num in i:
        total+=num
    print(total)

255
465
724

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [20]:
# Write your answer here
marks=[[80, 9, 85], [75, 70, 40], [88, 25, 79]]
for i in marks:
    for j in i:
        if j>50:
            print(j)

80
85
75
70
88
79

## **7. Find the largest number inside a nested list.**

In [23]:
# Write your answer here
marks=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
max_num=0
for i in marks:
    for j in i:
        if max_num<j:
            max_num=j
print(max_num)

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [40]:
# Write your answer here
num=[[1,2], [3,4], [5]] , [1,2,3,4,5]
flat=[]
for i in num:
    for j in i:
        flat.append(j)
print(flat)

[[1, 2], [3, 4], [5], 1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [42]:
# Write your answer here
num=[[1,-6], [-3,4], [5] , [1,-2,3,-4,5]]
for i in range(len(num)):
    for j in range(len(num[i])):
        if num[i][j]<0:
            num[i][j]=0
print(num)

[[1, 0], [0, 4], [5], [1, 0, 3, 0, 5]]

## **10. Count how many inner lists exist inside a nested list.**

In [48]:
# Write your answer here
num=[[1,-6], [-3,4], [5] , [1,-2,3,-4,5]]
count=0
for i in num:
    count+=1
print(count)

4

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [53]:
# Write your answer here
report={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

for i in report:
    age=report[i]["age"]
    for j in i:
        print(f"{i}: age ={age}")

A: age =15
B: age =16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [1]:
# Write your answer here
students = {
    "Rahul": {"Math": 70, "Science": 65, "English": 72},
    "Amit": {"Math": 60, "Science": 58, "English": 66},
    "Neha": {"Math": 75, "Science": 80, "English": 78}
}

increase_by = 5

for student, subjects in students.items():
    for subject in subjects:
        subjects[subject] += increase_by   # assignment is required

print(students)

{'Rahul': {'Math': 75, 'Science': 70, 'English': 77}, 'Amit': {'Math': 65, 'Science': 63, 'English': 71}, 'Neha': {'Math': 80, 'Science': 85, 'English': 83}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [22]:
# Write your answer here
students = {
    "Rahul": {"Math": 70, "Science": 65, "English": 72},
    "Amit": {"Math": 60, "Science": 58, "English": 66},
    "Neha": {"Math": 75, "Science": 80, "English": 78}
}

for i,j in students.items():
    for i in j.keys() :
        print(i)

Math
Science
English
Math
Science
English
Math
Science
English

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [25]:
# Write your answer here
info={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}

for student, subjects in info.items():
    if "Maths" in subjects and subjects["Maths"] > 80:
        print(student)

## **15. Create a new dictionary of students whose age is above 15.**

In [24]:
# Write your answer here
students = {
    "Amit": {"age": 14, "class": 8},
    "Riya": {"age": 16, "class": 10},
    "Neha": {"age": 18, "class": 12},
    "Rahul": {"age": 15, "class": 9}
}

result={}


for name, details in students.items():
    if details.get("age", 0) > 15:
        result[name] = details

print(result)

{'Riya': {'age': 16, 'class': 10}, 'Neha': {'age': 18, 'class': 12}}

## **16. Find which student scored highest in science.**

In [26]:
# Write your answer here
students = {
    "Rahul": {"Math": 70, "Science": 65, "English": 72},
    "Amit": {"Math": 60, "Science": 58, "English": 66},
    "Neha": {"Math": 75, "Science": 80, "English": 78}
}

topper = max(
    students,
    key=lambda student: students[student].get("Science", 0)
)

print(topper, students[topper]["Science"])

Neha 80

## **17. Print employees who belong to the HR department from this dictionary.**

In [27]:
# Write your answer here
employees = {
    101: {"name": "Amit", "department": "HR", "status": "active"},
    102: {"name": "Riya", "department": "IT", "status": "inactive"},
    103: {"name": "Neha", "department": "HR", "status": "active"}
}

for emp_id, details in employees.items():
    if details.get("department") == "HR":
        print(details["name"])

Amit
Neha

## **18. Delete all entries where the status is 'inactive'.**

In [29]:
# Write your answer here
employees = {
    emp_id: details
    for emp_id, details in employees.items()
    if details.get("status") != "inactive"
}
print(employees)

{101: {'name': 'Amit', 'department': 'HR', 'status': 'active'}, 103: {'name': 'Neha', 'department': 'HR', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [30]:
# Write your answer here
inventory = {
    "item1": {"price": 50, "quantity": 10},
    "item2": {"price": 30, "quantity": 20},
    "item3": {"price": 100, "quantity": 5}
}

total_stock = sum(item.get("quantity", 0) for item in inventory.values())
print(total_stock)

35

## **20. Convert all inner dictionary keys to uppercase.**

In [31]:
# Write your answer here
data = {
    "emp1": {"name": "Amit", "department": "HR", "status": "active"},
    "emp2": {"name": "Riya", "department": "IT", "status": "inactive"}
}

result = {
    outer_key: {inner_key.upper(): value for inner_key, value in inner_dict.items()}
    for outer_key, inner_dict in data.items()
}

print(result)

{'emp1': {'NAME': 'Amit', 'DEPARTMENT': 'HR', 'STATUS': 'active'}, 'emp2': {'NAME': 'Riya', 'DEPARTMENT': 'IT', 'STATUS': 'inactive'}}