### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
persons ={"name":"Amey","age":24,"city":"mumbai"}
persons

{'name': 'Amey', 'age': 24, 'city': 'mumbai'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
persons ={"name":"Amey","age":24,"city":"mumbai"}
persons["name"]

'Amey'

### 3. Create a list of 5 numbers and print the second element.

In [14]:
lst = [1, 2, 3, 4, 5]
print(lst[1])

2

### 4. Add an element "banana" to an existing list.

In [17]:
lst.append("banana")
lst

[1, 2, 3, 4, 5, 'banana', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [20]:
lst.insert(2,"apple")
print(lst)

[1, 2, 'apple', 3, 4, 5, 'banana', 'banana']

### 6. Remove the element 10 from a list.

In [24]:
element = [1,2,3,4,5,6,7,8,9,10,12]
element.remove(10)
element

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

### 7. Create a tuple with 4 elements and print the last one.

In [28]:
tp=(1,2,3,4)
print(tp[-1])

4

### 8. Convert a tuple into a list.

In [30]:
tp=(1,2,3,4)
lst = list(tp)
lst

[1, 2, 3, 4]

### 9. Find the length of a given tuple.

In [31]:
len(tp)

4

### 10. Store 5 student names in a list and print them using a loop.

In [34]:
student=["amey","rahul","aniket","akkshhey","aditya"]
for i in student:
    print(i)

amey
rahul
aniket
akkshhey
aditya

### 11. Create two lists and concatenate them.

In [35]:
student=["amey","rahul","aniket","akkshhey","aditya"]
element = [1,2,3,4,5,6,7,8,9,10,12]
result = student + element
print(result)

['amey', 'rahul', 'aniket', 'akkshhey', 'aditya', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

### 12. Reverse a list without using reverse().

In [42]:
element = [1,2,3,4,5,6,7,8,9,10,12]
print(list(range(12,0,-1)))

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [48]:
number = [1,2,3,4,5,6,7,8,9,10,12]
number.sort(reverse=True)
print(number)

[12, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 14. Create a set with 5 numbers and add a new number.

In [51]:
num ={1,2,3,4,5}
num.add(6)
print(num)

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [54]:
num.discard(2)
num

{1, 3, 4, 5, 6}

### 16. Find the union of two sets.

In [56]:
num ={1,2,3,4,5}
element = {6,7,8,9,1,2}
num.union(element)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 17. Find the intersection of two sets.

In [57]:
num.intersection(element)

{1, 2}

### 18. Check if a value exists in a set.

In [61]:
num ={1,2,3,4,5}
print(2 in num)
print(6 in num)

True
False

### 19. Create a set and clear all elements.

In [62]:
num ={1,2,3,4,5}
num.clear

### 20. Convert a list with duplicate values into a set.

In [64]:
num =[1,1,2,2,3,3,45,6]
unique_list = set(num)
print(unique_list)

{1, 2, 3, 6, 45}

### 21. Create a dictionary and update the value of a key.

In [73]:
dic={"name":"amey"}
dic.update({"name":"mayur"})
print(dic)

{'name': 'mayur'}

### 22. Delete a key-value pair from a dictionary.

In [71]:
dic.clear()

### 23. Print all keys of a dictionary.

In [74]:
dic.keys()

dict_keys(['name'])

### 24. Print all values of a dictionary.

In [75]:
dic.values()

dict_values(['mayur'])

### 25. Loop through a dictionary and print key and value.

In [78]:
for i in dic:
    print(dic)

{'name': 'mayur'}

### 26. Create a list of numbers and print only even numbers.

In [79]:
num = [0,1,2,3,4,5,6,7,8]
for i in range(0,9,2):
    print(i)

0
2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [80]:
tp = (1,2,3,4,5,6)
a,b,c,d,e,f =tp
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
4
5
6

### 28. Check if a number is greater than 10 using a comparison operator.

In [84]:
num = [1,2,3,4,5,6,54,21,10]
for n in num:
    if n >=10:
        print(n)

54
21
10

### 29. Use the in operator to check if "python" exists in a list.

In [85]:
num = [1,2,3,4,5,6,54,21,10,"python","amey"]
"python" in num

True

### 30. Use the and operator in a condition.

In [86]:
num = [1,2,3,4,5,6,54,21,10,"python","amey"]
"python" and"amey" in num

True

### 31. Use the % operator to check if a number is divisible by 5.

In [93]:
num = [1,2,3,4,5,6,54,21,10,"python","amey"]
for n in num:
    if n%5==0:
        print(n)

5
10

TypeError: not all arguments converted during string formatting

In [92]:
num = [1,2,3,4,5,6,54,21,10,"python","amey"]
for n in num:
    if isinstance(n,int) and n % 5 ==0:
        print(n)

5
10

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [94]:
num = [1,2,3,4,5,6,54,21,10]
for n in num:
    print(n**2)

1
4
9
16
25
36
2916
441
100

### 33. Create two numbers and compare them using >=.

In [95]:
a = 17
t= 20
if a>=b:
    print("a is greater than equal to t")
else :
    print("a is smaller than t")

a is greater than equal to t

### 34. Create a list and remove the last element using pop().

In [96]:
num = [1,2,3,4,5,6,54,21,10]
num.pop()

10

### 35. Create a list and print its first and last elements.

In [100]:

numbers = [10, 20, 30, 40, 50]

print("First element:", numbers[0])

print("Last element:", numbers[-1])

First element: 10
Last element: 50

### 36. Count how many times "apple" appears in a list.

In [101]:
fruits = ["apple", "banana", "mango", "orange", "grapes"]

fruits.count("apple")

1

### 37. Create a tuple and check if a value exists using in.

In [102]:
tp = (1,2,3,4,5,6)
3 in tp

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [104]:
dic={"name":"amey","age":24,"city":"mumbai"}
n = list(dic)
print(n)

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [105]:
students = {
    "Amey": {"Math": 90, "Science": 85, "English": 88},
    "Rahul": {"Math": 78, "Science": 82, "English": 80},
    "Aniket": {"Math": 85, "Science": 89, "English": 92}
}

print(students)

{'Amey': {'Math': 90, 'Science': 85, 'English': 88}, 'Rahul': {'Math': 78, 'Science': 82, 'English': 80}, 'Aniket': {'Math': 85, 'Science': 89, 'English': 92}}

### 40. Merge two dictionaries into one.

In [109]:
dic={"name":"amey","age":24,"city":"mumbai"}
student={"Math": 90, "Science": 85, "English": 88}

dic.update(student)
dic

{'name': 'amey',
 'age': 24,
 'city': 'mumbai',
 'Math': 90,
 'Science': 85,
 'English': 88}

### 41. Create a set and print the number of elements.

In [113]:
number = {1, 23, 45, 545, 4, 5, 6}
print(len(number))

7

### 42. Create a dictionary and print all items using items().

In [114]:
dic={"name":"amey","age":24,"city":"mumbai"}
dic.items()

dict_items([('name', 'amey'), ('age', 24), ('city', 'mumbai')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [115]:
num = [1,2,3,4,5,6,7,8,9,10]
for n in num:
    print(n**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [116]:
a = 17
t= 20
print(a*t)

340

### 45. Divide two numbers and print the results using / and //.

In [118]:
print(a/t)
print(a//t)

0.85
0

### 46. Create a list and replace the element at index 1.

In [120]:
num =[1,2,3,4]
num.insert(1,5)
num

[1, 5, 2, 3, 4]

### 47. Create a tuple from user input (3 values).

In [2]:
a = int(input("enter first num"))
b = int(input("enter second num"))
c = int(input("enter third num"))

user_tp = (a,b,c)
print(user_tp)

(132, 123, 456)

### 48. Create a set from a string and print all unique characters.

In [7]:
text = {"amey", "amey", "rahul", "aniket", "aniket"}



print(text)

{'aniket', 'amey', 'rahul'}

### 49. Use the is operator to compare two variables.

In [9]:
a = 10
b = 20
a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [10]:
dic={"name":"amey","age":24,"city":"mumbai"}
"amey" in dic

False

### 51. Write a program to check if a number is between 10 and 50 using and.

In [14]:
num = [10,20,30,40,50,60,70]
for n in num:
    if 10 <= n <=50:
        print(n)

10
20
30
40
50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [17]:
num = [1,5,3,2,20,65,44]
for n in num:
    if 5> n or n >20:
        print(n)

1
3
2
65
44

### 53. Use not to check if a list is not empty.

In [18]:
my_list = []

if not my_list:
    print("The list is empty")
else:
    print("The list is not empty")

The list is empty

### 54. Write code to check if a character is a vowel using or.

In [22]:

ch = input("Enter a character: ").lower() 

if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
    print(ch, "is a vowel")
else:
    print(ch, "is not a vowel")

i is a vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [23]:
dic={"name":"amey","age":24,"city":"mumbai"}
"name" and "age" in dic

True

### 56. Verify if a set contains either 10 or 20.

In [25]:
s = {10, 30, 64, 54}

if 10 in s or 20 in s:
    print("10 or 20 is in the set")
else:
    print("Neither 10 nor 20 is in the set")

10 or 20 is in the set

### 57. Use not to check if a number is not equal to 100.

In [26]:
num = int(input("Enter a number: "))

if not num == 100:
    print("The number is NOT 100")
else:
    print("The number is 100")

The number is NOT 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [27]:
marks = int(input("Enter marks: "))
attendance = int(input("Enter attendance: "))

if marks > 35 and attendance > 75:
    print("Student passed")
else:
    print("Student failed")

Student passed

### 59. Use logical operators to check if a number is positive and even.

In [28]:
num = int(input("Enter a number: "))

if num > 0 and num % 2 == 0:
    print("Number is positive and even")
else:
    print("Number is not positive or not even")

Number is not positive or not even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [29]:
t = (1, 2, 0, 4)

if len(t) > 3 or 0 in t:
    print("Condition is True")
else:
    print("Condition is False")

Condition is True