### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [3]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [4]:
word="python"
for i in word:
    print(i)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [5]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [6]:
element=["pen","laptop","book"]
for i in element:
    print(i)

pen
laptop
book

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [13]:
total_num=0
for i in range(1,51):
        total_num += i
print(total_num)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [19]:

for i in range(1,11):
    print("7 x",i,"=",i*7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### 9. Count how many vowels are in the string 'education' using a for loop

In [32]:
word="education"
count=0
for i in word:
    if i in "aeiouAEIOU":
        count+=1
print(count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [34]:
for i in range(1,31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [33]:
for i in range(1,31,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [39]:
word="alksjdLAKDJ"
count=0
for i in word:
    if i.isupper():
        count+=1
print(count)

5

### 12. Create a new list that contains only the positive numbers from another list

In [15]:
num1=[-3,-2,0,2,3]
num2=[]
for i in num1:
    if i>=0:
        num2.append(i)
print(num2)

[0, 2, 3]

### 13. Print numbers from 1 to 10 using a while loop

In [19]:
x=1
while x<=10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [33]:
table=1
while table<=50:
    if table%5==0:
        print(table)
    table+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [36]:
x=10
while x>=1:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [44]:
num=int(input("enter a num:"))
while num!=0:
    print("num is not zero")
    num=int(input("enter a num again"))
print("num is zero")

num is not zero
num is not zero
num is zero

In [42]:

num=int(input("enter a num"))
for i in num:
    if num!=0:
        print("num is not equal to zero")
        num=int(input("enter num again"))
print("num is zero")

TypeError: 'int' object is not iterable

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [63]:
num17=1
cal=0
while num17<=10:
    cal+=num17
    num17+=1
print(cal)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [71]:
dic={"apple":50,"banana":40}
for i in dic.keys():
    print(i)

apple
banana

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [72]:
dic={"apple":50,"banana":40}
for j in dic.values():
    print(j)

50
40

### 20. Print both keys and values of a dictionary using a for loop

In [73]:
dic={"apple":50,"banana":40}
for i,j in dic.items():
    print(i,j)

apple 50
banana 40

### 21. Count how many keys are in a dictionary using a for loop

In [79]:
count=0
dic={"apple":50,"banana":40}
for i in dic.keys():
    count+=1
print(count)

2

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [ ]:
dic={"apple":50,"banana":40}
for i in dic.keys():
    if i.startswith("a"):
        print(i)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [83]:
dic={"amey":95,"rahul":90,"aniket":88}
for j in dic.values():
    if j>80:
        print(j)

95
90
88

### 24. Given a dictionary, print the sum of all the values using a for loop

In [89]:
total=0
dic={"amey":95,"rahul":90,"aniket":88}
for j in dic.values():
    total+=j
print(total)

273

### 25. Given a dictionary, find the key with the highest value using a for loop

In [95]:
dic={"amey":95,"rahul":99,"aniket":99}
max_num=max(dic.values())
for i,j in dic.items():
    if j==max_num:
        print(i,j)

rahul 99
aniket 99

In [28]:
dic={"Amey":90,"Rahul":94,"Aniket":95}
max_value=max(dic.values())
for key,value in dic.items():
    if value == max_value:
        print(key,value)
        break

Aniket 95

### 26. Convert all dictionary keys into a list using a for loop

In [101]:
dic={"a":90,"b":50,"c":95}
lst=[]
for i in dic.keys():
    lst.append(i)
print(lst)

['a', 'b', 'c']

In [100]:
dic={"a":90,"b":80,"c":87}
lst=[]
for i in dic.keys():
    lst.append(i)
print(lst)

['a', 'b', 'c']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [107]:
a={"aMEY":5,"bHKJ":4,"cHJG":3,"dJHG":2,"aNVG":1}
for i,j in a.items():
    print(i,len(i))

aMEY 4
bHKJ 4
cHJG 4
dJHG 4
aNVG 4

In [45]:
dic={"Amey":5,"Rahul":6,"Aniket":6,"Aaditya":7,"Yashsing":8}
for i,j in dic.items():
    print(i,len(i))

Amey 4
Rahul 5
Aniket 6
Aaditya 7
Yashsing 8

### 28. Given a list of numbers, print only numbers greater than 10

In [111]:
num=[10,20,30,40,50]
for i in num:
    if i > 10:
        print(i)

20
30
40
50

### 29. Count how many elements in a list are integers using a for loop

In [114]:
lst=[1,3,5,"amey"]
count=0
for i in lst:
    if isinstance(i,int):
        count+=1
print(count)

3

### 30. Print the sum of all even numbers in a list using a for loop

In [73]:
lst=[1,2,3,4,5,6,7,8]
total_even=0
for i in lst:
    if i%2==0:
        total_even+=i
print(total_even)

20

### 31. Print the cube of each number in a list of 5 numbers

In [79]:
lst=[1,2,3,4,5]
for i in lst:
    print(i**3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [66]:
words="python is fun"
for i in words.split():
    print(i)

python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [65]:
for i in range(1,6):
    print(i*3)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [64]:
names=["Amey","rahul","Akkshhey"]
for i in names:
    if i.startswith("A"):
        print(i)

Amey
Akkshhey

### 35. Find the largest number in a list using a for loop

In [63]:
lst=[1,2,3,6,59,8]
max_num=max(lst)
for i in lst:
    print(max_num)
    break

59

### 36. Print the index and value of each element in a list

In [59]:
lst=[1,2,3,4,5]
for i in lst:
    print(lst.index(i),i)

0 1
1 2
2 3
3 4
4 5

### 37. Create a dictionary with 5 students and their marks

In [104]:
dic={"Amey":90,"Rahul":94,"Aniket":95,"akkshhey":95,"pranit":90}
dic

{'Amey': 90, 'Rahul': 94, 'Aniket': 95, 'akkshhey': 95, 'pranit': 90}

### 38. Use a for loop to print all student names

In [105]:
for i in dic.keys():
    print(i)

Amey
Rahul
Aniket
akkshhey
pranit

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [106]:
dic={"mango":62,"apple":50}
for i in dic.items():
    print(i)

('mango', 62)
('apple', 50)

 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [57]:
products={"apple": 100, "banana": 50, "milk": 60, "bread": 40, "eggs": 120}
for product in products:
    products[product]=round(products[product]*1.10,2)
print(products)

{'apple': 110.0, 'banana': 55.0, 'milk': 66.0, 'bread': 44.0, 'eggs': 132.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [48]:
it={"a":20,"b":40,"c":60,"d":80}
for i,j in list(it.items()):
    if j <50:
        del it[i]
        print(it)

{'b': 40, 'c': 60, 'd': 80}
{'c': 60, 'd': 80}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [37]:
report={"science":95,"maths":99,"history":80,"eng":80}
new_data={"marathi":90}
report.update(new_data)
for i,j in report.items():
    print(report)
    break

{'science': 95, 'maths': 99, 'history': 80, 'eng': 80, 'marathi': 90}

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [29]:
fri={"amey":23,"rahul":23,"akkshhey":29}
for i,j in fri.items():
    j+=1
    print(j)

24
24
30

### 44. Print numbers from 0 to 9 using range()

In [27]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [26]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [25]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [24]:
word=["amey","rahul","akkshhey"]
for i in word:
    print(len(i))

4
5
8

### 48. Print the length of a given string using len()

In [23]:
a = "slkdjffdfsfds"
print(len(a))

13

49. Use range() and len() to iterate over a list by index and print each element

In [12]:
fruits=["apple","banana","sitafal","guava"]
for i in range(len(lst)):
    print(i,lst[i])

0 Apple
1 banana
2 sitafal
3 ramfal
4 gua

### 50. Print the sum of numbers from 1 to 100 using range()

In [6]:
total_sum=0
for i in range(1,101):
    total_sum+=i
print(total_sum)

5050