### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [ ]:
for num in range(0,21,2):
    print(num)


for num in range(0,21):      # using if condition print all even number between 1 to 20
    if num % 2==0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [9]:
str = "python"
for char in str:
    print(char)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [10]:
for num in range(1,6):
    print(num**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [11]:
lst=["Books","Pen","Laptop"]
for element in lst:
    print(element)

Books
Pen
Laptop

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [16]:
total = 0
for num in range(1,51):
    total+=num
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [19]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [27]:
for num in range(11):
    print("7x",num,"=",num*7)

7x 0 = 0
7x 1 = 7
7x 2 = 14
7x 3 = 21
7x 4 = 28
7x 5 = 35
7x 6 = 42
7x 7 = 49
7x 8 = 56
7x 9 = 63
7x 10 = 70

### 9. Count how many vowels are in the string 'education' using a for loop

In [ ]:
count=0
vowels="aeiou"
for v in "education":
    if v in vowels:
        count += 1
print("total vowels:",count)

total vowels: 5

### 10. Print all odd numbers from 1 to 30 using a for loop

### 11. Count how many uppercase letters are in a string using a for loop

### 12. Create a new list that contains only the positive numbers from another list

### 13. Print numbers from 1 to 10 using a while loop

### 14. Print all multiples of 5 up to 50 using a while loop

### 15. Print numbers from 10 to 1 in reverse using a while loop

### 16. Keep asking the user to enter numbers until the user enters 0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

### 20. Print both keys and values of a dictionary using a for loop

### 21. Count how many keys are in a dictionary using a for loop

### 22. Create a dictionary and print only the keys that start with the letter 'a'

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

### 24. Given a dictionary, print the sum of all the values using a for loop

### 25. Given a dictionary, find the key with the highest value using a for loop

### 26. Convert all dictionary keys into a list using a for loop

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

### 28. Given a list of numbers, print only numbers greater than 10

### 29. Count how many elements in a list are integers using a for loop

### 30. Print the sum of all even numbers in a list using a for loop

### 31. Print the cube of each number in a list of 5 numbers

### 32. Print each word in the sentence 'Python is fun' using a for loop

### 33. Print the first 5 multiples of 3 using a for loop

### 34. Print only names that start with 'A' from a list of names

### 35. Find the largest number in a list using a for loop

### 36. Print the index and value of each element in a list

### 37. Create a dictionary with 5 students and their marks

### 38. Use a for loop to print all student names

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

### 44. Print numbers from 0 to 9 using range()

### 45. Print numbers from 5 to 15 using range()

### 46. Print numbers from 1 to 20 with a step of 2 using range()

### 47. Print the length of a given list using len()

### 48. Print the length of a given string using len()

### 49. Use range() and len() to iterate over a list by index and print each element

### 50. Print the sum of numbers from 1 to 100 using range()