### What is a function in Python?

In [ ]:
#A function in Python is a reusable block of code that performs a specific task.It takes input, processes it, and can return an output.

### Write the correct syntax of a Python function.

In [45]:
def function_name(parameters):
        #statement
        return #expression

### What is the default return value of a function if no return statement is used?

In [46]:
def function_name(x,y=10):
        result =x+y
        print(result)
                                           #result statement
                                           #print statement
function_name(10)

20

### Define a function named hello() that prints "Hello World".

In [47]:
def hello():
    print("hello world")
hello()

hello world

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [48]:
#Parameters: are part of the function's definition, defining what kind of input it expects.
#Arguments: are the actual inputs provided to the function when it is invoked.

def summ(a,b):    #a,b are paramenters
    result = a+b   
    print(result)

summ(10,20)         #10 and 20 are arguments

30

### What are positional arguments? Give an example.

In [49]:
def fun(name,age):
    print("my name is :",name)
    print("my age is :",age)

fun("amey",24)
fun(24,"amey")

my name is : amey
my age is : 24
my name is : 24
my age is : amey

### What are keyword arguments? Give an example.

In [50]:
def stu(fname,lname):
    print(fname,lname)

stu(fname="amey",lname="Bavadekar")
stu(lname="Bavadekar",fname="amey")

amey Bavadekar
amey Bavadekar

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [51]:
def info(name,country="india"):
    print(name,country)

info("i live in")

i live in india

### Write a function square(n) that returns the square of a number.

In [52]:
def square_n(num):
    result=num**2
    print(result)

square_n(35)

1225

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [53]:
""" *args = A bag ðŸ‘œ 
Accept any number of values in a function.
It allows the function to take 1 value, 2 values, 10 values, or even 100 values.
Python collects all these values into a tuple."""

def info1(*args):
    print(args)

info1(10,20,30)

(10, 20, 30)

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [ ]:
""" **kwargs = A notebook ðŸ“’
Every value has a label (key).
Accept any number of key = value pairs in a function.
These key-value pairs are collected into a dictionary.

"""


def info1(**kwargs):
    print(kwargs)

info1(name="amey",age=24,city="kolhapur")

{'name': 'amey', 'age': 24, 'city': 'kolhapur'}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [ ]:
def calc(a,b):
    s=a+b
    p=a*b
    return s,p

sum_val,pro_val = calc(10,20)
print(sum_val)
print(pro_val)

30
200

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [ ]:
def even_or_odd(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

even_or_odd(1659)

odd

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [1]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b


def adapter(operations):
    for item in operations:
        op=item["op"]
        a=item["a"]
        b=item["b"]

        if op =="add":
            print(add(a,b))
        elif op == "sub":
            print(sub(a,b))
        elif op == "mul":
            print(mul(a,b))
        elif op == "div":
            print(div(a,b))
        else:
            print("invalid operatios",op)

ops=[{"op":"add","a":10,"b":20},
            {"op":"mul","a":10,"b":20}
        ]


adapter(ops)

30
200

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [14]:
data=[ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
def process_student(data):
    for student in data:
        name=student["name"]
        marks=student["marks"]
        total_marks=sum(marks)

        print(f"name :{name}")
        print(f"total marks :{total_marks}")

        if total_marks>200:
            print("grade : A")
        else:
            print("grade : B")
        print() 

process_student(data)

name :A
total marks :240
grade : A

name :B
total marks :200
grade : B

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [14]:
def apply_discounts(products):
    for item in products:
        name=item["name"]
        price=item["price"]
        discount=item["discount"]

        discount__price=price*(discount/100)
        final_price=price-discount__price

        print(f"{name} final price :{int(final_price)}")



products = [
    {"name": "Laptop", "price": 50000, "discount": 10},
    {"name": "Phone", "price": 20000, "discount": 5}
]

apply_discounts(products)

Laptop final price :45000
Phone final price :19000

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 â†’ bonus = 15%, 
- salary 30,000â€“50,000 â†’ bonus = 10%, 
- salary < 30,000 â†’ bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [ ]:
def generate_report(employees):
    for i in employees:
        name=i["name"]
        age=["age"]
        department=i["department"]
        salary=i["salary"]

        if salary>50000:
            bonus_percent=15
        elif salary >=30000 and salary <=50000:
            bonus_percent=10
        else:
            bonus_percent=5

        bonus_price=salary*(bonus_percent/100)

        print(f"{name} : {salary} :{bonus_percent} : {bonus_price}")

employees=[

    {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
    {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
    {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
    {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
    {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000}

]

generate_report(employees)

Amit : 55000 :15 : 8250.0
Neha : 40000 :10 : 4000.0
Raj : 65000 :15 : 9750.0
Simran : 60000 :15 : 9000.0
Vijay : 35000 :10 : 3500.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [1]:
def get_employee_names(emp_list):
    return emp_list

get_employee_names

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [21]:
def filter_by_department(emp_list,dept):
    result=[]

    for emp in emp_list:
        emp["department"]==dept
        result.append(emp)

        return result
employees=[

    {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
    {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
    {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
    {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
    {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000}

]

IT_emp=filter_by_department(employees,"IT")
print(IT_emp)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000}]

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [2]:
def highest_salary(emp_list):
    max_salary=0
    emp_name=""

    for item in emp_list:
        if item["salary"] > max_salary:
            max_salary=item["salary"]
            emp_name=item["name"]

    print(f"{emp_name}:{max_salary}")



emp_list=[

    {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
    {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
    {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
    {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
    {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000}

]

highest_salary(emp_list)

Raj:65000

### Write a function average_salary(emp_list) that returns the average salary.

In [11]:
def average_salary(emp_list):
    total_salary=0
    count=0


    for i in emp_list:
        total_salary +=i["salary"]
        count+=1
        avg_salary=total_salary/count
       
    print(int(avg_salary))



emp_list=[

    {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
    {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
    {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
    {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
    {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000}

]

average_salary(emp_list)

51000

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [29]:
def salary_hike(emp_list,percent):
    for hike in emp_list:
        hike["percent"]=percent
        name=hike["name"]
        salary=hike["salary"]
        hike_of_salary=salary*(percent/100)
        new_salary=salary+hike_of_salary


        print(f"name : {name}")
        print(f"salary: {salary}")
        print(f"hike:{percent}")
        print(f"new salary :{int(new_salary)}")
        print()


emp_list=[

    {"id": 101, "name": "Amey", "age": 24, "department": "IT", "salary": 66000}, 
    {"id": 102, "name": "tanmayee", "age": 22, "department": "HR", "salary": 40000}, 
  
]

salary_hike(emp_list,40)

name : Amey
salary: 66000
hike:40
new salary :92400

name : tanmayee
salary: 40000
hike:40
new salary :56000

### Write out_of_stock(items) that returns all products with stock < 20.

In [4]:
def out_of_stock(items):
    for stock in items:
        quantity=stock["quantity"]
        item=stock["item"]
        if quantity<20:
            print(f"{item} : {quantity}")          


stock_items = [
    {"item": "Rice", "quantity": 50},
    {"item": "Wheat", "quantity": 30},
    {"item": "Sugar", "quantity": 20},
    {"item": "Oil", "quantity": 10},
    {"item": "Salt", "quantity": 5}
]

out_of_stock(stock_items)

Oil : 10
Salt : 5

### Write total_inventory_value(items) â†’ sum(price * stock).

In [10]:
def total_inventory_value(items):
    for products in items:
        item=products["item"]
        price=products["price"]
        quantity=products["quantity"]

        total_stock=price*quantity

        print(total_stock)



inventory = [
    {"item": "Rice", "price": 50, "quantity": 100},
    {"item": "Wheat", "price": 40, "quantity": 80},
    {"item": "Sugar", "price": 45, "quantity": 60},
    {"item": "Milk", "price": 25, "quantity": 30},
]

total_inventory_value(inventory)

5000
3200
2700
750

### Write search_product(items, name) â†’ return matching product(s).

In [15]:
def search_product(items,name):
    result=[]

    for item in items:
        if item["item"].lower()==name.lower():

            result.append(item)

            return result

inventory = [
    {"item": "Rice", "price": 50, "quantity": 100},
    {"item": "Wheat", "price": 40, "quantity": 80},
    {"item": "Sugar", "price": 45, "quantity": 60},
    {"item": "Milk", "price": 25, "quantity": 30},
]

print(search_product(inventory, "Rice"))

[{'item': 'Rice', 'price': 50, 'quantity': 100}]